html {
    height: 100%;
}

body {
    background: grey;
    margin: 0;
    font-family: 'Haas Unica';
    width: 100%;
    height: 100%;
}

canvas {
    position: fixed;
}

.recorder {
    background: white;
    width: 300px;
    font-family: sans-serif;
    z-index: 20;
    position: fixed;
    right: 270px;
}